#### Importando libs

In [7]:
import pandas as pd
from datetime import datetime

#### Criando as variaveis

In [8]:
file_path = "./relatorios"
file_name = "altas_e_baixas"
date = datetime.now().strftime("%d_%m_%Y")
full_file = f"{file_path}/{file_name}_{date}.csv"

print(full_file)

./relatorios/altas_e_baixas_20_08_2025.csv

### Analisa arquivo da data atual

In [9]:
df = pd.read_csv(full_file)
display(df)

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,PCAR3,20/08,"3,15","8,62","10,53","-10,51","23,53","-3,67","2,84","3,18","77,29 M"
1,UGPA3,20/08,"18,01","4,35","2,39","4,89","16,69","-21,51","17,28","18,06","197,55 M"
2,AURE3,20/08,"10,78","4,05","8,34","16,29","23,78","-5,93","10,22","10,78","144,7 M"
3,CMIG4,20/08,"10,97","3,78","2,33","6,20","8,39","8,55","10,58","10,97","226,93 M"
4,RADL3,20/08,"17,90","3,17","2,46","32,89","-17,77","-35,57","17,36","18,00","395,7 M"
...,...,...,...,...,...,...,...,...,...,...,...
73,MRVE3,20/08,"7,11","-1,80","-0,70","19,50","33,90","-5,45","7,09","7,29","140,99 M"
74,MGLU3,20/08,"6,68","-2,62","0,91","-5,38","5,91","-50,11","6,63","6,93","235,88 M"
75,RAIL3,20/08,"14,95","-3,11","-6,33","-9,61","-12,74","-34,18","14,80","15,56","536,03 M"
76,MRFG3,20/08,"22,66","-3,16","-3,00","6,38","33,06","81,95","22,66","23,51","294,03 M"
77,AZZA3,20/08,"31,33","-3,42","-4,77","-12,19","5,92","-39,17","30,93","32,40","137,08 M"

In [10]:
# Vamos coletar as 5 maiores altas 
top5 = df.head(5)

top5_html_table = top5.to_html(index=False, border=0, classes='dataframe', justify='center')

top5

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,PCAR3,20/08,"3,15","8,62","10,53","-10,51","23,53","-3,67","2,84","3,18","77,29 M"
1,UGPA3,20/08,"18,01","4,35","2,39","4,89","16,69","-21,51","17,28","18,06","197,55 M"
2,AURE3,20/08,"10,78","4,05","8,34","16,29","23,78","-5,93","10,22","10,78","144,7 M"
3,CMIG4,20/08,"10,97","3,78","2,33","6,20","8,39","8,55","10,58","10,97","226,93 M"
4,RADL3,20/08,"17,90","3,17","2,46","32,89","-17,77","-35,57","17,36","18,00","395,7 M"

In [11]:
# Vamos coletar as 5 maiores baixas
bottom5 = df.tail(5).sort_values(by='Var. Dia (%)', ascending=False)

bottom5_html_table = bottom5.to_html(index=False, border=0, classes='dataframe', justify='center')

bottom5

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
77,AZZA3,20/08,"31,33","-3,42","-4,77","-12,19","5,92","-39,17","30,93","32,40","137,08 M"
76,MRFG3,20/08,"22,66","-3,16","-3,00","6,38","33,06","81,95","22,66","23,51","294,03 M"
75,RAIL3,20/08,"14,95","-3,11","-6,33","-9,61","-12,74","-34,18","14,80","15,56","536,03 M"
74,MGLU3,20/08,"6,68","-2,62","0,91","-5,38","5,91","-50,11","6,63","6,93","235,88 M"
73,MRVE3,20/08,"7,11","-1,80","-0,70","19,50","33,90","-5,45","7,09","7,29","140,99 M"

In [12]:
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
import os
from dotenv import load_dotenv

In [13]:
# Carrega o .env especificando o caminho
config_path = os.path.join(os.getcwd(), 'config', '.env')
load_dotenv(config_path)
# Configurações do e-mail
from_email = "fecavalaridev@gmail.com"
to_email = "felipe.cavalari89@gmail.com"
subject = "Relatório Diário - Ações em Alta"
password = os.getenv("gmail_password")  # Use senha de app no Gmail

# Corpo do e-mail com HTML
html_content = f"""
<html>
<head>
  <style>
    .dataframe {{
        border-collapse: collapse;
        width: 100%;
    }}
    .dataframe th, .dataframe td {{
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }}
    .dataframe th {{
        background-color: #f2f2f2;
        font-weight: bold;
    }}
  </style>
</head>
<body>
  <h2>📈 Relatório Diário - Ações em Alta</h2>
  {top5_html_table}

  <br>
  <br>

  <h2>📉 Relatório Diário - Ações em Baixa</h2>
  {bottom5_html_table}
</body>
</html>
"""

# Montando o e-mail
message = MIMEMultipart("alternative")
message["From"] = from_email
message["To"] = to_email
message["Subject"] = subject
message.attach(MIMEText(html_content, "html"))

# Envio via SMTP
with smtplib.SMTP_SSL("smtp.gmail.com", 465) as server:
    server.login(from_email, password)
    server.send_message(message)

print("E-mail enviado com sucesso!")

SMTPResponseException: (535, b'5.7.8 Username and Password not accepted. For more information, go to\n5.7.8  https://support.google.com/mail/?p=BadCredentials 41be03b00d2f7-b47640b191csm3106392a12.45 - gsmtp')