#### Importando libs

In [1]:
import pandas as pd
from datetime import datetime

#### Criando as variaveis

In [6]:
file_path = "../reports"
file_name = "altas_e_baixas"
date = datetime.now().strftime("%d_%m_%Y")
full_file = f"{file_path}/{file_name}_{date}.csv"

print(full_file)

../reports/altas_e_baixas_05_08_2025.csv

### Analisa arquivo da data atual

In [7]:
df = pd.read_csv(full_file)
display(df)

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,BRAV3,05/08,"20,28","5,74","4,59","2,74","-13,78","-23,18","19,02","20,52","360,38 M"
1,HAPV3,05/08,"35,53","4,65","8,79","7,44","6,22","-45,04","33,73","35,61","390,95 M"
2,PETZ3,05/08,"4,18","3,72","3,47","5,56","2,70","19,21","4,01","4,23","29,96 M"
3,YDUQ3,05/08,"13,14","3,63","1,00","1,55","59,93","27,32","12,60","13,20","100,57 M"
4,MRFG3,05/08,"22,09","3,56","3,13","3,71","29,71","128,07","21,22","22,25","210,51 M"
...,...,...,...,...,...,...,...,...,...,...,...
73,EMBR3,05/08,"78,62","-1,73","-0,54","-2,53","40,06","103,20","77,20","82,90","1,39 B"
74,CPFE3,05/08,"37,55","-1,78","-1,00","-0,95","28,00","25,27","37,48","38,64","103,1 M"
75,USIM5,05/08,"4,28","-2,51","-2,51","-2,28","-19,55","-26,33","4,26","4,44","101,65 M"
76,ASAI3,05/08,"9,61","-2,54","-0,93","2,13","73,32","-4,43","9,58","9,96","278,09 M"
77,CSNA3,05/08,"7,26","-2,55","-4,72","-9,48","-18,06","-32,81","7,21","7,59","129,22 M"

In [8]:
# Vamos coletar as 5 maiores altas 
top5 = df.head(5)

top5_html_table = top5.to_html(index=False, border=0, classes='dataframe', justify='center')

top5

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,BRAV3,05/08,"20,28","5,74","4,59","2,74","-13,78","-23,18","19,02","20,52","360,38 M"
1,HAPV3,05/08,"35,53","4,65","8,79","7,44","6,22","-45,04","33,73","35,61","390,95 M"
2,PETZ3,05/08,"4,18","3,72","3,47","5,56","2,70","19,21","4,01","4,23","29,96 M"
3,YDUQ3,05/08,"13,14","3,63","1,00","1,55","59,93","27,32","12,60","13,20","100,57 M"
4,MRFG3,05/08,"22,09","3,56","3,13","3,71","29,71","128,07","21,22","22,25","210,51 M"

In [9]:
# Vamos coletar as 5 maiores baixas
bottom5 = df.tail(5).sort_values(by='Var. Dia (%)', ascending=False)

bottom5_html_table = bottom5.to_html(index=False, border=0, classes='dataframe', justify='center')

bottom5

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
77,CSNA3,05/08,"7,26","-2,55","-4,72","-9,48","-18,06","-32,81","7,21","7,59","129,22 M"
76,ASAI3,05/08,"9,61","-2,54","-0,93","2,13","73,32","-4,43","9,58","9,96","278,09 M"
75,USIM5,05/08,"4,28","-2,51","-2,51","-2,28","-19,55","-26,33","4,26","4,44","101,65 M"
74,CPFE3,05/08,"37,55","-1,78","-1,00","-0,95","28,00","25,27","37,48","38,64","103,1 M"
73,EMBR3,05/08,"78,62","-1,73","-0,54","-2,53","40,06","103,20","77,20","82,90","1,39 B"

In [ ]:
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

In [ ]:
# Configurações do e-mail
from_email = "fecavalaridev@gmail.com"
to_email = "felipe.cavalari89@gmail.com"
subject = "Relatório Diário - Ações em Alta"
password = "zdne gdmp uqaz dkxm "  # Use senha de app no Gmail

# Corpo do e-mail com HTML
html_content = f"""
<html>
<head>
  <style>
    .dataframe {{
        border-collapse: collapse;
        width: 100%;
    }}
    .dataframe th, .dataframe td {{
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }}
    .dataframe th {{
        background-color: #f2f2f2;
        font-weight: bold;
    }}
  </style>
</head>
<body>
  <h2>📈 Relatório Diário - Ações em Alta</h2>
  {top5_html_table}

  <br>
  <br>

  <h2>📉 Relatório Diário - Ações em Baixa</h2>
  {bottom5_html_table}
</body>
</html>
"""

# Montando o e-mail
message = MIMEMultipart("alternative")
message["From"] = from_email
message["To"] = to_email
message["Subject"] = subject
message.attach(MIMEText(html_content, "html"))

# Envio via SMTP
with smtplib.SMTP_SSL("smtp.gmail.com", 465) as server:
    server.login(from_email, password)
    server.send_message(message)

print("E-mail enviado com sucesso!")

E-mail enviado com sucesso!